<% if (is_post() && theme.toc.enable && (
    (theme.toc.default === true && post.toc === undefined) || post.toc === true)
    ) { %>
<div id="article-toc">
    <h2 class="widget-title"><%= __('toc') %></h2>
    <%- toc(page.content) %>
</div>
<% } %>