@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: calc(50% - 1px)
    height: 100%
    background: color-mobile-nav-background
    border-right: 1px solid #ddd

@media mq-mobile
  .mobile-nav-link
    display: block
    color: color-grey
    font-weight: normal
    font-size: 1.1em
    text-decoration: none
    margin: 30px 20px
    word-break: break-word
    &:hover
      text-decoration: underline
