#sidebar
  @media mq-normal
    float: right 
    width: 12em

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  border: 1px solid #ddd
  padding: 10px 15px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc