.widget-wrap
  margin-bottom: block-margin !important
  @media mq-normal
    column(main-column)
/* Having problems getting balanced white space between items
    li:before
      content: " | "
    li:first-child:before
      content: none
 */

.widget-title
  @extend $block-caption

.widget
  border: 1px solid #ddd
  padding: 10px 15px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc