.toc-link
  color: #999
  text-decoration: none

#article-toc
  margin: article-padding
  color: #999

.toc-child
  padding-left: 20px

.toc-number, .toc-text
  display: table-cell

.toc-number
  padding-right: 3px